@{
    ViewBag.Title = "Home Page";
}


<div class="row", display="flex">
    <div class="col-md-10">
        <h1>Lore School Library</h1><br>
        <p style="color: dimgray">
            This Library is an application that allows you to check available books that can be borrowed from the LORE School Library.</br>
            Also on this platform you can borrow books online for a predetermined period of time.
        </p>

    </div>
    <div class="col-md-10">
        <img src="https://acegif.com/wp-content/gifs/book-90.gif" alt="libary"> 
    </div>

</div>