<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@model IEnumerable<School_Library.Models.BookModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @{
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    }

</p>

<div class="partialView">
    <div id="divSearch"></div>

    <script>
        $(document).ready(function () {

            $("#divSearch").load("/Book/GetPartialSearch");

        });
    </script>
</div>


